<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">


    <!-- LOGO -->
    <div class="navbar-navigation-box">
        <div class="nagivation-item py-3 d-flex justify-content-between align-items-center">
            <span class="menu-item navigation-text">Navigation</span>
            <div class="menu-btn-wrapper rounded-circle">
                <button type="button" class="btn btn-sm vertical-menu-btn p-0">
                    <img src="/assets/images/menu-icon.svg" class="w-100" alt="menu"/>
                </button>
            </div>
        </div>
    </div>


    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="mdi mdi-note-text nav-icon"></i>
                        <span class="menu-item" data-key="t-ecommerce">Estudios de Valoración</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="#1" data-key="t-1">Mapa de Estudios</a></li>
                        <li><a href="#2" data-key="t-2">Mis Estudios</a></li>
                        <li><a href="#3" data-key="t-3">Mis Estudios (Admin)</a></li>
                        <li><a href="#4" data-key="t-4">Añadir Estudio</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="mdi mdi-lightbulb-outline nav-icon"></i>
                        <span class="menu-item" data-key="t-ecommerce">Oportunidades</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#5" data-key="t-5">Mapa de Estudios</a></li>
                        <li><a href="#6" data-key="t-6">Mis Estudios</a></li>
                        <li><a href="#7" data-key="t-7">Mis Estudios (Admin)</a></li>
                        <li><a href="#8" data-key="t-8">Añadir Estudio</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-cog nav-icon"></i>
                        <span class="menu-item" data-key="t-9">Herramientas</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-account nav-icon"></i>
                        <span class="menu-item " data-key="t-10 ">Perfil</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->